@import 'https://fonts.googleapis.com/css?family=Pavanam|Quicksand';

$default-font: 'Pavanam', sans-serif;
$header-font: 'Quicksand', sans-serif;
$default-font-color: #0a0a0a;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$menu-background: #F5F5F5;
$menu-line: #D25A70;
$accent-color: #FF1744;

body {
  color: $default-font-color;
  font-family: $default-font;
}

h1, h2 {
  font-family: $header-font;
  color: $accent-color;
} 

h3, h4 {
  font-family: $default-font;
  color: $accent-color;
}

hr {
  border-width: 0.2rem;
  margin: 0.5rem;
}

.header-font {
  font-family: $header-font;
}

.accent-color {
  color: $accent-color;
}

.top-line {
  height: 0.2rem; 
  width: 100%; 
  background-color: $accent-color;
}

.target {
  border: 0.2rem solid $accent-color;
}

a:hover {
  transition: 0.5s ease;   
}

.menu-link {
  border-bottom: 0.2rem solid $menu-background;
  margin: 0 1rem 0 0;
}

.menu-link:hover {
  border-bottom: 0.2rem solid $accent-color;
}

.swatch-box {
  width: 150px;
  height: 150px;
  float: left;
  margin: 0.5rem;
  transition: 0.2s ease;   
  }

#hide, #alsoHide {
  display: none;
}

.swatch-box:hover {
  border: 0.2rem solid $menu-line;
  transition: 0.2s ease;
 }

.center {
  text-align: center;
}

.callout, .info-box {
  text-align: center;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}

.info-box {
  padding: 1rem;
  background-color: #fefefe;
}

.product-box {
  padding: 1rem 5rem;
  margin: 1rem;
  background-color: #fefefe;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  float: left;
  text-align: center;
  overflow: hidden;
}

.thumbnail {
  width: 100px;
  height: 100px;
}

.lead {
  margin: 0.5rem;
}

.icon {
  transition: 0.5s ease;
}

.icon:hover {
  transform: scale(1.2, 1.2);
  transition: 0.5s ease;
}

.header {
  background-image: url("https://s3-us-west-2.amazonaws.com/colorcrush/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  color: #fff;
  padding: 10px;
}

.header2 {
  background-image: url("https://s3-us-west-2.amazonaws.com/colorcrush/header2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  color: #fff;
  padding: 10px;
}

.header3 {
  padding: 10px; 
  border: 0.2rem solid #fff; 
  height: 100%;
}

.header4 {
  background-image: url("https://s3-us-west-2.amazonaws.com/colorcrush/header3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  color: #fff;
  padding: 10px;
}

.main-title {
  font-size: 3rem; 
  font-family: $header-font;
  color: #fff;
  padding: 10px;
}

.small-title {
  font-size: 2.5rem; 
  font-family: $header-font;
  color: $accent-color;
}

.button {
  border: 0.2rem solid $accent-color;
  background: transparent;
}

.button:hover {
  color: #fff;
}

.fadeInSlow{
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  animation: fadeIn 3s;
}

#product {
  border: 3px solid $dark-gray;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

input { 
  outline: none; 
}

.load-button {
  border: 0.2rem solid $medium-gray;
  width: 100%;
  margin: 1rem;
  padding: 0.3rem;
  color: $accent-color;
  text-align: center;
}

.load-button:hover {
  border: 0.2rem solid $accent-color;
  color: $dark-gray;
}

.sort-button:hover {
  color: $accent-color;
}

//start top bar
.title-bar {
  background: $menu-background;
  padding: 1rem;
}

.top-bar {
  background: $menu-background;
  padding-top: 1rem;
  
  ul {
    background: $menu-background;
  
    li {
      background: $menu-background;
    
        a {
          color: #333;
      }
        a:hover {
          color: #fff;
          background-color: $accent-color;
        }
    }
  }
}

.menu-text {
  color: $dark-gray;
  
  @media only screen and (max-width: 40em) {
    display: none !important;
  }
}

@media only screen and (min-width: 40em) {
  .menu:last-child {
    border-left: none
  }

  .menu:first-child {
    border-left: none;
  }

  .menu {
    li:not(:last-child) {
      border-right: none;
    }
  }
}

.dropdown.menu .submenu {
  border: none;
}

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow>a::after {
  border-color: $dark-gray transparent transparent;
}

.is-drilldown-submenu-parent>a::after {
  border-color: transparent transparent transparent $dark-gray;
}

.js-drilldown-back::before {
  border-color: transparent $dark-gray transparent transparent;
}

.off-canvas-content {
  box-shadow: unset;
  background: transparent;
}
//end top bar

//centered top bar
/* Variables */

// Adjust width accordingly (use even #'s)
$logo-width: 260px;
// Reduce px value to increase space between logo and menu text
$logo-padding: $logo-width - 32px; 
// Leave alone
$logo-margin: - ($logo-width / 2);

/* Small Navigation */
.logo-small {
  float: right;
}

.title-bar {
  padding: 0 .5rem;
}

.menu-icon,
.title-bar-title {
  position: relative;
  top: 10px;
}

/* Medium-Up Navigation */
@media only screen and (min-width: 40rem) { 

  .logo-wrapper {
    position: relative;
    
    .logo {
      width: $logo-width;
      position: absolute;
      left: 50%;
      right: 50%;
      margin-left: $logo-margin;
    } 
  }

  // Right part
  .top-bar-right {
    width: 50%;
    padding-left: $logo-padding;
    
    ul {
      float: left;
    }
  }
  
  // Left part
  .top-bar-left {
    width:  50%;
    padding-right: $logo-padding;
    
    ul {
      float: right;
    }
  }
}
//end center nav bar

//start footer
.footer {
  background-color: $menu-background;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  margin-top: 1rem;
  -webkit-box-shadow: 0px -5px 5px -5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px -5px 5px -5px rgba(0,0,0,0.3);
  box-shadow: 0px -5px 5px -5px rgba(0,0,0,0.3);
  p {
    &.slogan {
      color: $dark-gray;
      font-size: 1.8rem;
      margin: 0 0 1rem;
    }
    &.copywrite {
      color: $dark-gray;
      font-size: 0.875rem;
      margin: 0;
    }
  }
  .links a {
    list-style: none;
    color: $accent-color;
    padding: 3rem 0 2rem;
    margin: 0;
    &::after {
      content: " ";
      padding: 0 0.4rem 0 0.8rem;
    }
    &:last-child::after {
      content: "";
      padding: 0;
    }
  }
  .links a:hover {
    color: $dark-gray
  }
}
//end footer

//top-bar shadow
.top.shadow {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

//sticky footer
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  margin: 0 auto -140px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
  height: 140px; /* '.push' must be the same height as 'footer' */
}
// end sticky footer