<div class="row">
  <div class="hide-for-small-only medium-12 large-12 columns header2">
    <div class="header3">
      <span class="main-title animated fadeIn">Wishlist</span>
      <p class="lead fadeInSlow" style="padding: 0 15px">Things I want</p>
    </div>
  </div>

  <div class="show-for-small-only small-12 columns">
    <span style="font-size: 2rem">Wishlist</span> <br>
    <div style="padding: 5px">Things I want</div>
  </div>
</div>

<br>

<div class="row small-up-1 medium-up-2 large-up-3">

<% if @wishlist.length > 0 %>

  <% @wishlist.each do |item| %>
    <div class="column">
      <div class="callout">
        <p><a href="/products/<%= item.id %>"><%= image_tag "#{item.image}", class: 'thumbnail' %></a></p>
        <p class="lead"><%= link_to "#{item.name.upcase}", "/products/#{item.id}" %></p>
        <p class="subheader"><%= item.brand %></p>
      </div>
    </div>
  <% end %>

<% else %>
  No products added yet.
<% end %>

</div>