<div ng-app="app" ng-controller="productsCtrl">

<span class="lead">View All Products (<%= @products.length %>)</span><br><br>

<datalist id="products">
  <option ng-repeat="product in products">{{ product.name }}</option>
</datalist>

<input ng-model="nameFilter" list="products" placeholder="Search by name" style="border: 0.2rem solid #cacaca; padding: 0.2rem">
<br><br>

<div ng-click="sortBy('name')">Sort A-Z</div>

<div ng-repeat="product in products | filter:{name: nameFilter} | orderBy:orderAttribute:ascdesc track by $index">
  <div class="product-box">
    <p><a href="/products/{{ product.id }}" class="thumbnail"><img src="{{ product.image }}"></a></p> 
    <span class="lead"><a href="/products/{{ product.id }}">{{ product.name }}</a></span><br>
    <span class="subheader"><a href="?search={{ product.brand }}">{{ product.brand }}</a></span><br>
    <a href="/?search={{ product.product_type }}">{{ product.product_type }}</a>
  </div>
</div>

</div>